@import 'tailwindcss';

@font-face {
  font-family: 'Fredoka';
  src: url('/fonts/Fredoka-VariableFont_wdth,wght.ttf') format('truetype');
  /* font-weight: 400; */
  /* font-style: normal; */
}

@font-face {
  font-family: 'MavenPro';
  src: url('/fonts/MavenPro-VariableFont_wght.ttf') format('truetype');
}
